<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/_head %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tiny App</title>
</head>
<header>
  <% include ../partials/_header %>
</header>
<main>
  <div class="row">
    <div class="col-sm-8">
      <div class="jumbotron">
        <h1>HEADING</h1>
        <p>SUBHEADING</p>

        <body>
          SOME TEXT
        </body>
      </div>
    </div>
  </div>
  </main>
  <main>
  <div class="row">
    <div class="col-sm-8">
      <div class="jumbotron">
        <footer>
          <% include ../partials/_footer %>
        </footer>
  </main>

  </html>
