<!DOCTYPE html>
<html lang="en">

<head></head>

<body style="font-size:20px; padding:50px;">
  <form method="POST" action="/logout">
      <button type="submit">Logout</button>
  </form>
  <h3><%= 'Your new short url is: ' + shortURL %></h3>

  <form method="POST" action="/urls/<%=shortURL%>/edit" style="display: inline;">

    <label for="longURL">Your long url</label>

      <input id="longURL" type="text" name="longURL" placeholder = '<%= urlDatabase[shortURL] %>' style="width: 300px">
      <input type="submit" value="Submit">

  </form>

</body>

</html>
