<!DOCTYPE html>
<html lang="en">

<head></head>

<body style="font-size:20px; padding:50px;">
  <% include ../partials/_header %>
    <ul>
    <h3><%= 'original url = ' + longURL + 'short url =' + 'localhost:8000/urls/' + shortURL %></h3>
    </ul>
</body>

</html>
