<!DOCTYPE html>
<html lang="en">

<head></head>

<body style="font-size:20px; padding:50px;">
  <form method="POST" action="/logout">
      <button type="submit">Logout</button>
  </form>
  <h3>Your short url is:   <%= url.shortURL %> </h3>
  <h3>Your long url is: <%= url.longURL %> </h3>

  <form action="/urls/<%=url.shortURL%>" method="POST" style="margin:150px;">
    <label for="longURL">Edit your long URL:</label>
    <input id="longURL" type="text" name="longURL" placeholder="<%= url.longURL %>" style="width: 300px">
    <input type="submit" value="Edit">
  </form>


</body>

</html>
