<!DOCTYPE html>
<html lang="en">

<head></head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"></link>
<body style="font-size:20px; padding:50px;">
  <% include ../partials/_header %>

    <ul>
      <% for(var url in urlDatabase) { %>
        <li>
          <%= url + ': ' + urlDatabase[url] %>

        <form method = "POST" action = "/urls/<%= url %>/delete" style="display: inline;">
          <button> Delete </button>
        </form>
        <a href="/urls/<%= url %>">edit</a>
         </li>
        <% }; %>
    </ul>
</body>


<a href="/urls/new">Create new URL</a>
</html>
